@namespace Code420.UIOrchestrator.Server.Components.CompositeComponents.HelpSystem.UserLogin.Email

@using Code420.UIOrchestrator.Server.Components.CompositeComponents.HelpButton;
@using Code420.UIOrchestrator.Server.Components.BaseComponents.ButtonBase;
@using Code420.UIOrchestrator.Server.Components.CompositeComponents.HelpDialog;
@using Syncfusion.Blazor.Popups

<!--suppress ALL -->

@*
Component consists of a HelpButton component and a HelpDialog component.

As noted below, the ToolTipBase child component of the HelpButton component
extends the basic styling provided by the HelpButton component and adds
additional styling using inlined CSS.

The HelpDialog component extends the basic styling using the <style> tag.
*@

<HelpButton @ref=helpButtonComponent
            CssClass="user-login-email-help"
            ButtonMargin="2.5em 0 0 1em"
            TooltipHeight="auto"
            TooltipWidth="250px"
            >
    
    <TooltipContent>
        @*
        The HelpButton component provides basic styling for its ToolTipBase child component.
        As needed, additional styling can be provided in-line within the TooltipContent
        property. Using <style> tags will work too as long as you manage CSS isolation
        issues appropriately.
        *@
        <div class="tooltip-content__user-login-email-help"
             style="font-size: 12px; 
             color: var(--tooltip-help__title-font-color);
             margin: 1em;">
            <p style="font-size: 14px; 
                color: var(--tooltip-help__body-font-color);">
                <b>Enter the Email Address Assigned to Your Account.</b>
            </p>
            <div class="button__user-login-email-help" 
                 style="display: flex; margin-top: 1em;">
                <ButtonBase @ref=buttonLearnMore
                            IsPrimary=true
                            TextFontSize="1em"
                            CssClass="button__user-login-email-help-learn-more"
                            Padding="4px 8px"
                            Margin="auto"
                            OnClick=LearnMoreButtonClickAsync
                >
                    <ContentFragment>
                        Learn More
                    </ContentFragment>
                </ButtonBase>
            </div>
        </div>
    </TooltipContent>
    
</HelpButton>

<HelpDialog @ref=dialogLearnMore
            Target=@Target
            CssClassSuffix=@CssClassSuffix
            >
    <HeaderFragment>
        User Email Help
    </HeaderFragment>
    <ContentFragment>
        @*
        This is an example of a "standardized" help dialog.
        
        The dialog is composed of three cards (class="card__*"): Overview, 
        Best Practice, and a details section (Predefined Email Addresses) below.
        
        Each card contains a title (class="card-title__*") and a body. In the example
        below, the body is either a <p> element or an additional section card 
        (class="card-section__*"). Additional section cards can be added as needed.
        
        Since this is the standard class structure for the application's help
        system, the styling is contained in the HelpDialog component's <style> tag.
        
        CSS isolation is achieved by using the CssClassSuffix property which is defined
        by the consuming component and passed through to the HelpDialog component. The suffix
        is added to the base classes (e.g., card__) to generate a unique class name for
        each instance of the HelpDialog component.
        *@
        <div class=@($"content__{ CssClassSuffix }")>
            <article class=@($"card__{ CssClassSuffix }")>
                <h3 class="card-title__user-login-email-help">
                    Overview
                </h3>
                <p>
                    Enter the email used to register your account. The email
                    must be valid or an error message will be displayed.
                </p>
            </article>
            <article class=@($"card__{ CssClassSuffix }")>
                <h3 class=@($"card-title__{ CssClassSuffix }")>Best Practice</h3>
                <p>
                    For this demo, two email addresses are defined. Each has different
                    permission sets assigned. Any email address other than the predefined
                    ones will be assigned a limited permission set.
                </p>
            </article>
            <article class=@($"card__{ CssClassSuffix }")>
                <h3 class=@($"card-title__{ CssClassSuffix }")>Predefined Email Addresses</h3>
                <article class=@($"card-section__{ CssClassSuffix }")>
                    <h3 class="card-section-title__user-login-email-help">accessall@test.com</h3>
                    <p>
                        Granted the AccessAll permission set which exposes all menu items.
                    </p>
                </article>
                <article class=@($"card-section__{ CssClassSuffix }")>
                    <h3 class=@($"card-section-title__{ CssClassSuffix }")>permission1@test.com</h3>
                    <p>
                        Granted the Permission_1 permission set which exposes the following menu items:
                    </p>
                    <ul style="margin-bottom:0;">
                        <li>Dummy Tab</li>
                        <li>Settings->Configuration->Application</li>
                        <li>Settings->User->Logout</li>
                        <li>Settings->Switch Theme->Light</li>
                        <li>Settings->Switch Theme->Dark</li>
                    </ul>
                </article>
                <article class=@($"card-section__{ CssClassSuffix }")>
                    <h3 class=@($"card-section-title__{ CssClassSuffix }")>Any other email address</h3>
                    <p>
                        Granted the Permission_2 permission set which exposes the following menu items:
                    </p>
                    <ul style="margin-bottom:0;">
                        <li>Dummy Tab</li>
                        <li>Settings->User->Logout</li>
                        <li>Settings->Do Nothing</li>
                    </ul>
                </article>
            </article>
        </div>
    </ContentFragment>
    <FooterFragment>
        <div class="footer__user-login-email-help" style="height: 1em;"></div>
    </FooterFragment>

</HelpDialog>


